{% extends "base.html" %}
{% block title %}Actors: {{ actor.full_name }}{% endblock title %}
{% block content %}
    <h2>{{ actor.full_name }}</h2>
    {% if actor.short_name %}
        <p>Preferred Name: {{ actor.short_name }}</p>
    {% endif %}

    {% if actor.bio %}
        <p>{{ actor.bio|linebreaksbr }}</p>
    {% endif %}

    <hr/>
    
    <h3>Submitted by
    {% comment %} <a href="{% url 'users:detail' cheese.creator.username %}"> {% endcomment %}
        {{ actor.creator.username }}
    {% comment %} </a> {% endcomment %}
    </h3>
    {% if actor.creator.name %}
        <p>{{ actor.creator.name }}</p>
    {% endif %}
{% endblock content %}