{% extends "base.html" %}
{% block title %}Actor List{% endblock title %}
{% block content %}
<h2>Actor List</h2>
<ul>
    {% for actor in actor_list %}
    <li>
        <a href={% url 'actors:detail' actor.slug%}>{{ actor.full_name }}</a>
        {%if actor.bio%}
        <ul>
            <li>{{actor.bio|linebreaksbr}}</li>
        </ul>
    {%endif%}
    
    </li>
    {% endfor %}
</ul>

<hr/>
<p>Don't see a Actor listed here?</p>
<p>
<a class="btn btn-primary"
href="{% url 'actors:add' %}" role="button">
Add Actor
</a>
</p>
{% endblock content %}